.frame {
  display: flex;
  width: var(--width-max);
  min-height: 12%;
  margin-top: 10px;
  box-sizing: border-box;
}

.frame_open {
  border: 4px dashed #092c4e;
}

.notice {
  color: #ff1e1e;
  font-size: 1rem;
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 1rem;
}