.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  max-width: 1600px;
  height: 100vh;
  padding: 2rem;
  margin: auto;
  box-sizing: border-box;
  background: var(--bg-color-gradient);
}
